I have a card transaction, what is your best guess at the categorisation of this? Please only output the chosen category. Please first work out what company it is potentially from and then fit it in to a category. You must give your best guess at the category. Please concentrate and think about this carefully. Only if you are absolutely not sure output '###UNKNOWN###'.

You have the following categories to choose from: {{Categories}}

If available, this is how historical transactions have been categorised:
{{HistoricalTransactions}}